@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 POPUP
6.0 FOOTER
7.0 HEADER
8.0 ANIMATIONS
9.0 MAIN
10.0 TIPOGRAFIAS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/*para ocultar texto y que lo lean los lectores de no videntes*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*para eliminar los float*/
header, section, footer, aside {
  clear: both; }

/*imagen al 100% de ancho responsive*/
.image-responsive {
  width: 100%;
  height: auto; }

/*input al 100%*/
input, select {
  display: block;
  width: 100%; }

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0; }

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/
@font-face {
  font-family: 'New Baskerville Std Roman';
  src: url("../fonts/baskerville/baskervillestd-roman.eot");
  src: url("../fonts/baskerville/baskervillestd-roman.woff") format("woff"), url("../fonts/baskerville/baskervillestd-roman.otf") format("opentype"), url("../fonts/baskerville/baskervillestd-roman.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'New Baskerville Std Roman';
  src: url("../fonts/baskerville/baskervillestd-italic.eot");
  src: url("../fonts/baskerville/baskervillestd-italic.woff") format("woff"), url("../fonts/baskerville/baskervillestd-italic.otf") format("opentype"), url("../fonts/baskerville/baskervillestd-italic.svg") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'New Baskerville Std Roman';
  src: url("../fonts/baskerville/baskervillestd-smbd.eot");
  src: url("../fonts/baskerville/baskervillestd-smbd.woff") format("woff"), url("../fonts/baskerville/baskervillestd-smbd.otf") format("opentype"), url("../fonts/baskerville/baskervillestd-smbd.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'New Baskerville Std Roman';
  src: url("../fonts/baskerville/baskervillestd-smbdita.eot");
  src: url("../fonts/baskerville/baskervillestd-smbdita.woff") format("woff"), url("../fonts/baskerville/baskervillestd-smbdita.otf") format("opentype"), url("../fonts/baskerville/baskervillestd-smbdita.svg") format("svg");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'New Baskerville Std Roman';
  src: url("../fonts/baskerville/baskervillestd-bold.eot");
  src: url("../fonts/baskerville/baskervillestd-bold.woff") format("woff"), url("../fonts/baskerville/baskervillestd-bold.otf") format("opentype"), url("../fonts/baskerville/baskervillestd-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'New Baskerville Std Roman';
  src: url("../fonts/baskerville/baskervillestd-boldit.eot");
  src: url("../fonts/baskerville/baskervillestd-boldit.woff") format("woff"), url("../fonts/baskerville/baskervillestd-boldit.otf") format("opentype"), url("../fonts/baskerville/baskervillestd-boldit.svg") format("svg");
  font-weight: 700;
  font-style: italic; }
/*fuente q no se usa
@font-face {
    font-family: 'New Baskerville Std Roman';
    src: url('../fonts/baskerville/baskervillestd-black.eot');
    src: url('../fonts/baskerville/baskervillestd-black.woff') format('woff'),
        url('../fonts/baskerville/baskervillestd-black.otf') format('opentype'),
        url('../fonts/baskerville/baskervillestd-black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
*/
/*fuente q no se usa
@font-face {
    font-family: 'Flama Basic';
    src: url('../fonts/flama/flama-basic.eot');
    src: url('../fonts/flama/flama-basic.woff') format('woff'),
        url('../fonts/flama/flama-basic.otf') format('opentype'),
        url('../fonts/flama/flama-basic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flama Basic';
    src: url('../fonts/flama/flama-basicitalic.eot');
    src: url('../fonts/flama/flama-basicitalic.woff') format('woff'),
        url('../fonts/flama/flama-basicitalic.otf') format('opentype'),
        url('../fonts/flama/flama-basicitalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}
*/
@font-face {
  font-family: 'Flama Book';
  src: url("../fonts/flama/flama-book.eot");
  src: url("../fonts/flama/flama-book.woff") format("woff"), url("../fonts/flama/flama-book.otf") format("opentype"), url("../fonts/flama/flama-book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*fuente que no se usa
@font-face {
    font-family: 'Flama Book';
    src: url('../fonts/flama/flama-bookitalic.eot');
    src: url('../fonts/flama/flama-bookitalic.woff') format('woff'),
        url('../fonts/flama/flama-bookitalic.otf') format('opentype'),
        url('../fonts/flama/flama-bookitalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}
*/
@font-face {
  font-family: 'Flama';
  src: url("../fonts/flama/flama.eot");
  src: url("../fonts/flama/flama.woff") format("woff"), url("../fonts/flama/flama.otf") format("opentype"), url("../fonts/flama/flama.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*fuente que no se usa
@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-italic.eot');
    src: url('../fonts/flama/flama-italic.woff') format('woff'),
        url('../fonts/flama/flama-italic.otf') format('opentype'),
        url('../fonts/flama/flama-italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-thin.eot');
    src: url('../fonts/flama/flama-thin.woff') format('woff'),
        url('../fonts/flama/flama-thin.otf') format('opentype'),
        url('../fonts/flama/flama-thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-thinitalic.eot');
    src: url('../fonts/flama/flama-thinitalic.woff') format('woff'),
        url('../fonts/flama/flama-thinitalic.otf') format('opentype'),
        url('../fonts/flama/flama-thinitalic.svg') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-ultralight.eot');
    src: url('../fonts/flama/flama-ultralight.woff') format('woff'),
        url('../fonts/flama/flama-ultralight.otf') format('opentype'),
        url('../fonts/flama/flama-ultralight.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-ultralightitalic.eot');
    src: url('../fonts/flama/flama-ultralightitalic.woff') format('woff'),
        url('../fonts/flama/flama-ultralightitalic.otf') format('opentype'),
        url('../fonts/flama/flama-ultralightitalic.svg') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-light.eot');
    src: url('../fonts/flama/flama-light.woff') format('woff'),
        url('../fonts/flama/flama-light.otf') format('opentype'),
        url('../fonts/flama/flama-light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-lightitalic.eot');
    src: url('../fonts/flama/flama-lightitalic.woff') format('woff'),
        url('../fonts/flama/flama-lightitalic.otf') format('opentype'),
        url('../fonts/flama/flama-lightitalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-medium.eot');
    src: url('../fonts/flama/flama-medium.woff') format('woff'),
        url('../fonts/flama/flama-medium.otf') format('opentype'),
        url('../fonts/flama/flama-medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-mediumitalic.eot');
    src: url('../fonts/flama/flama-mediumitalic.woff') format('woff'),
        url('../fonts/flama/flama-mediumitalic.otf') format('opentype'),
        url('../fonts/flama/flama-mediumitalic.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-bold.eot');
    src: url('../fonts/flama/flama-bold.woff') format('woff'),
        url('../fonts/flama/flama-bold.otf') format('opentype'),
        url('../fonts/flama/flama-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-bolditalic.eot');
    src: url('../fonts/flama/flama-bolditalic.woff') format('woff'),
        url('../fonts/flama/flama-bolditalic.otf') format('opentype'),
        url('../fonts/flama/flama-bolditalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-extrabold.eot');
    src: url('../fonts/flama/flama-extrabold.woff') format('woff'),
        url('../fonts/flama/flama-extrabold.otf') format('opentype'),
        url('../fonts/flama/flama-extrabold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-extrabolditalic.eot');
    src: url('../fonts/flama/flama-extrabolditalic.woff') format('woff'),
        url('../fonts/flama/flama-extrabolditalic.otf') format('opentype'),
        url('../fonts/flama/flama-extrabolditalic.svg') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-black.eot');
    src: url('../fonts/flama/flama-black.woff') format('woff'),
        url('../fonts/flama/flama-black.otf') format('opentype'),
        url('../fonts/flama/flama-black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../fonts/flama/flama-blackitalic.eot');
    src: url('../fonts/flama/flama-blackitalic.woff') format('woff'),
        url('../fonts/flama/flama-blackitalic.otf') format('opentype'),
        url('../fonts/flama/flama-blackitalic.svg') format('svg');
    font-weight: 900;
    font-style: italic;
}
*/
@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("../fonts/din-next-lt-pro/dinnextltpro-regular.eot");
  src: url("../fonts/din-next-lt-pro/dinnextltpro-regular.woff") format("woff"), url("../fonts/din-next-lt-pro/dinnextltpro-regular.otf") format("opentype"), url("../fonts/din-next-lt-pro/dinnextltpro-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*fuente que no se usa
@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/din-next-lt-pro/dinnextltpro-italic.eot');
    src: url('../fonts/din-next-lt-pro/dinnextltpro-italic.woff') format('woff'),
        url('../fonts/din-next-lt-pro/dinnextltpro-italic.otf') format('opentype'),
        url('../fonts/din-next-lt-pro/dinnextltpro-italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/din-next-lt-pro/dinnextltpro-condensed.eot');
    src: url('../fonts/din-next-lt-pro/dinnextltpro-condensed.woff') format('woff'),
        url('../fonts/din-next-lt-pro/dinnextltpro-condensed.otf') format('opentype'),
        url('../fonts/din-next-lt-pro/dinnextltpro-condensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/din-next-lt-pro/dinnextltpro-medium.eot');
    src: url('../fonts/din-next-lt-pro/dinnextltpro-medium.woff') format('woff'),
        url('../fonts/din-next-lt-pro/dinnextltpro-medium.otf') format('opentype'),
        url('../fonts/din-next-lt-pro/dinnextltpro-medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/din-next-lt-pro/dinnextltpro-mediumitalic.eot');
    src: url('../fonts/din-next-lt-pro/dinnextltpro-mediumitalic.woff') format('woff'),
        url('../fonts/din-next-lt-pro/dinnextltpro-mediumitalic.otf') format('opentype'),
        url('../fonts/din-next-lt-pro/dinnextltpro-mediumitalic.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/din-next-lt-pro/dinnextltpro-mediumcond.eot');
    src: url('../fonts/din-next-lt-pro/dinnextltpro-mediumcond.woff') format('woff'),
        url('../fonts/din-next-lt-pro/dinnextltpro-mediumcond.otf') format('opentype'),
        url('../fonts/din-next-lt-pro/dinnextltpro-mediumcond.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/din-next-lt-pro/dinnextltpro-bold.eot');
    src: url('../fonts/din-next-lt-pro/dinnextltpro-bold.woff') format('woff'),
        url('../fonts/din-next-lt-pro/dinnextltpro-bold.otf') format('opentype'),
        url('../fonts/din-next-lt-pro/dinnextltpro-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/din-next-lt-pro/dinnextltpro-bolditalic.eot');
    src: url('../fonts/din-next-lt-pro/dinnextltpro-bolditalic.woff') format('woff'),
        url('../fonts/din-next-lt-pro/dinnextltpro-bolditalic.otf') format('opentype'),
        url('../fonts/din-next-lt-pro/dinnextltpro-bolditalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/din-next-lt-pro/dinnextltpro-boldcondensed.eot');
    src: url('../fonts/din-next-lt-pro/dinnextltpro-boldcondensed.woff') format('woff'),
        url('../fonts/din-next-lt-pro/dinnextltpro-boldcondensed.otf') format('opentype'),
        url('../fonts/din-next-lt-pro/dinnextltpro-boldcondensed.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
}*/
/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/
/*FUENTES*/
/*COLORES*/
/*TIEMPO*/
/*GRID OPTIONS*/
/*
@media (min-width: $md) {}
-webkit-
-moz-
-ms-
-o-

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
-o-justify-content: center;
justify-content: center;

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-justify-content: space-between;
-moz-justify-content: space-between;
-ms-justify-content: space-between;
-o-justify-content: space-between;
justify-content: space-between;

&:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
*/
/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/
html, body {
  font-family: "New Baskerville Std Roman", serif;
  color: #2b292a;
  background-color: #fff;
  font-size: 1em;
  line-height: 1.5em; }
  @media (min-width: 567px) {
    html, body {
      font-size: 1em; } }
  @media (min-width: 767px) {
    html, body {
      font-size: 1.2em;
      line-height: 1.5em; } }
  @media (min-width: 992px) {
    html, body {
      font-size: 1em;
      line-height: 1.5em; } }

.wrapper-site {
  position: relative;
  z-index: 1; }

.container {
  padding: 0 15px; }
  @media (min-width: 992px) {
    .container {
      padding: 0 50px; } }
  @media (min-width: 1200px) {
    .container {
      padding: 0 8%; } }
  @media (min-width: 1500px) {
    .container {
      padding: 0 8%; } }

/*--------------------------------------------------------------
5.0 POPUP
--------------------------------------------------------------*/
.popup {
  position: fixed;
  z-index: 111111;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none; }
  .popup div {
    position: relative; }
  .popup img {
    width: 100%;
    max-width: 768px;
    display: none; }

.close-popup {
  display: block;
  position: absolute;
  z-index: 1111;
  top: -25px;
  right: -25px;
  width: 40px;
  height: 40px;
  background: url(../images/sprite.png);
  background-position: -235px -136px;
  cursor: pointer; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
    .close-popup {
      background: url(../images/sprite2x.png) no-repeat;
      background-size: 324px 305px;
      background-position: -235px -136px; } }
  .close-popup:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }

.cerrar-popup {
  width: 100px;
  border: 1px solid #808080;
  background-color: transparent;
  color: #808080;
  display: block;
  font-size: 80%;
  padding: 5px;
  text-transform: uppercase;
  margin: 10px 0;
  cursor: pointer; }
  .cerrar-popup:hover {
    color: #fff;
    border-color: #fff; }

.popup-active {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

/*--------------------------------------------------------------
6.0 footer
--------------------------------------------------------------*/
.main-footer {
  position: relative;
  z-index: 1; }

.footer-address-wrapper {
  position: relative;
  background-color: #2b292a;
  color: #fff; }
  .footer-address-wrapper .footer-contacto {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 50px 25px;
    font-size: 110%;
    line-height: 120%; }
    @media (min-width: 992px) {
      .footer-address-wrapper .footer-contacto {
        font-size: 85%;
        line-height: 100%;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        -o-justify-content: space-around;
        justify-content: space-around; } }
    .footer-address-wrapper .footer-contacto li {
      min-width: 20%;
      padding: 0 2%;
      margin-top: 30px; }
      @media (min-width: 992px) {
        .footer-address-wrapper .footer-contacto li {
          margin-top: 0;
          border-right: 1px solid #fff; } }
      .footer-address-wrapper .footer-contacto li:last-child {
        border-right: none; }
      .footer-address-wrapper .footer-contacto li h3 {
        font-family: "Flama", sans-serif;
        text-transform: uppercase;
        margin-bottom: 15px; }
      .footer-address-wrapper .footer-contacto li p {
        font-style: italic; }

.footer-redes-wrapper {
  position: relative;
  font-family: "DIN Next LT Pro", "Flama", sans-serif;
  background-color: #fff;
  color: #2b292a;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0; }
  @media (min-width: 992px) {
    .footer-redes-wrapper {
      font-size: 80%;
      padding: 0; } }
  .footer-redes-wrapper .footer-redes {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center; }
    @media (min-width: 992px) {
      .footer-redes-wrapper .footer-redes {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        -o-justify-content: space-around;
        justify-content: space-around; } }
  .footer-redes-wrapper .btn-work-us {
    border: 1px #2b292a solid;
    padding: 4px 10px;
    display: inline-block;
    margin: 10px auto; }
    @media (min-width: 992px) {
      .footer-redes-wrapper .btn-work-us {
        margin: 0;
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: 80%; } }
  .footer-redes-wrapper .btn-suscribe {
    border: 1px #2b292a solid;
    padding: 4px 10px;
    display: inline-block;
    margin: 10px auto; }
    @media (min-width: 992px) {
      .footer-redes-wrapper .btn-suscribe {
        margin: 0;
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 80%; } }

.hit-legales {
  font-family: "Flama", sans-serif;
  color: #fff;
  background-color: #333;
  text-align: center;
  font-size: 100%;
  padding: 5px 0; }
  @media (min-width: 992px) {
    .hit-legales {
      padding: 15px 0 10px; } }
  .hit-legales a {
    position: relative; }
    .hit-legales a img {
      vertical-align: bottom;
      width: 25px; }
      @media (min-width: 992px) {
        .hit-legales a img {
          width: 20px; } }
    @media (min-width: 992px) {
      .hit-legales a:hover:before {
        content: "Design and development";
        position: absolute;
        text-transform: uppercase;
        display: inline-block;
        line-height: 170%;
        right: 21px;
        top: -2px;
        width: 170px;
        font-size: 70%; } }
    @media (min-width: 992px) {
      .hit-legales a:hover:after {
        content: "";
        display: inline-block;
        position: absolute;
        font-size: 100%;
        background: url(../images/logo-hit-fuente.png) no-repeat;
        background-size: cover;
        top: 1px;
        left: 35px;
        width: 25px;
        height: 14px; } }
    .hit-legales a:before {
      content: "Design and development";
      position: absolute;
      text-transform: uppercase;
      display: inline-block;
      right: 25px;
      top: -2px;
      width: 126px;
      font-size: 50%;
      line-height: 150%;
      opacity: 0.8; }
      @media (min-width: 767px) {
        .hit-legales a:before {
          right: 34px;
          top: 5px;
          opacity: 0.9;
          font-size: 50%;
          width: 166px; } }
      @media (min-width: 992px) {
        .hit-legales a:before {
          content: none; } }
    .hit-legales a:after {
      display: inline-block;
      position: absolute;
      content: "";
      top: -3px;
      left: 38px;
      width: 30px;
      height: 15px;
      background: url(../images/logo-hit-fuente.png) no-repeat;
      background-size: cover;
      opacity: 0.8; }
      @media (min-width: 767px) {
        .hit-legales a:after {
          top: 6px;
          left: 42px;
          width: 32px;
          height: 17px; } }
      @media (min-width: 992px) {
        .hit-legales a:after {
          content: none; } }

/*--------------------------------------------------------------
7.0 header
--------------------------------------------------------------*/
.main-header {
  position: relative;
  z-index: 2;
  background-color: #f4f4f4; }

.nav-superior {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 50px; }
  @media (min-width: 992px) {
    .nav-superior {
      height: 100px; } }
  @media (min-width: 992px) {
    .nav-superior .main-menu {
      display: flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -webkit-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      padding-top: 30px; } }
  .nav-superior .main-menu .brand-name {
    cursor: pointer;
    height: 50px;
    text-align: center; }
    .nav-superior .main-menu .brand-name img {
      display: inline;
      width: 155px;
      margin-top: 5px;
      margin-right: 15px; }
      @media (min-width: 992px) {
        .nav-superior .main-menu .brand-name img {
          display: block;
          margin: 0 20px;
          width: 253px; } }
  .nav-superior .main-menu .main-menu-item {
    font-family: "Flama", sans-serif;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    padding-bottom: 60px;
    text-align: center;
    top: -100px;
    left: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    @media (min-width: 992px) {
      .nav-superior .main-menu .main-menu-item {
        background-color: transparent;
        text-align: left;
        width: auto;
        position: relative;
        left: 0;
        top: 0;
        padding: 20px 20px 10px;
        margin: 0 25px; } }
  .nav-superior .menu-redes-sup {
    display: none; }
    @media (min-width: 992px) {
      .nav-superior .menu-redes-sup {
        position: absolute;
        top: 50px;
        right: 40px;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center; } }
    .nav-superior .menu-redes-sup li {
      margin: 0 3px; }
      .nav-superior .menu-redes-sup li a {
        cursor: pointer;
        display: block;
        height: 20px;
        width: 20px;
        background: url("../images/sprite.png") no-repeat;
        background-size: 150px 60px; }
      .nav-superior .menu-redes-sup li .icon-facebook {
        background-position: -29px -41px; }
      .nav-superior .menu-redes-sup li .icon-twitter {
        background-position: 1px -41px; }
      .nav-superior .menu-redes-sup li .icon-instagram {
        background-position: -59px -41px; }

/*
 * TOGGLE
*/
.toggle {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  display: block;
  border: none;
  height: 50px;
  width: 40px;
  z-index: 11;
  background-color: transparent;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s; }
  .toggle:focus {
    border: none;
    outline: none; }
  @media (min-width: 992px) {
    .toggle {
      display: none; } }

.tog1 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #2b292a;
  position: absolute;
  left: 5px;
  top: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }

.tog2 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #2b292a;
  position: absolute;
  left: 10px;
  top: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }

.tog3 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #2b292a;
  position: absolute;
  left: 5px;
  top: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }

.toggle:hover .tog2 {
  left: 5px; }

.toggle-open .tog2 {
  display: none; }

.toggle-open .tog1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: initial; }

.toggle-open .tog3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: initial; }

/*--------------------------------------------------------------
8.0 ANIMATIONS
--------------------------------------------------------------*/
/*
 * ANIMATIONS
*/
@keyframes blinking {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; } }
.movil-element.slide-down.in-view {
  animation-name: slide-down;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(0); }
  to {
    opacity: 1;
    transform: translateY(30px); } }
.animate-element {
  opacity: 0; }

.animate-element.slide-down-x2.in-view {
  opacity: 0;
  animation-name: slide-down;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

@keyframes slide-down-x2 {
  from {
    opacity: 0;
    transform: translateY(-10%); }
  to {
    opacity: 1;
    transform: translateY(0); } }
.animate-element.slide-up.in-view {
  opacity: 0;
  animation-name: slide-up;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

.animate-element.slide-up-list.in-view {
  opacity: 0;
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(30%); }
  to {
    opacity: 1;
    transform: translateY(0); } }
.animate-element.slide-left.in-view {
  opacity: 0;
  animation-name: slide-left;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-50%); }
  to {
    opacity: 1;
    transform: translateX(0); } }
.animate-element.slide-right.in-view {
  opacity: 0;
  animation-name: slide-right;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(50%); }
  to {
    opacity: 1;
    transform: translateX(0); } }
.background-more-info.open-background {
  animation-name: fade-in;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  /*-webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;*/
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*--------------------------------------------------------------
9.0 MAIN
--------------------------------------------------------------*/
.inner-wrapper {
  position: relative;
  z-index: 0; }

.section-wrapper {
  padding: 40px 0; }

.padding-interno {
  padding: 0 5%; }
  @media (min-width: 567px) {
    .padding-interno {
      padding: 0 10%; } }
  @media (min-width: 992px) {
    .padding-interno {
      padding: 0; } }

.sub-padding-interno {
  padding: 0 10%; }
  @media (min-width: 992px) {
    .sub-padding-interno {
      padding: 0;
      width: 100%;
      max-width: 778px;
      display: block;
      margin: 0 auto; } }

/*
 * SECTION INTRO
*/
#intro {
  text-align: center; }
  @media (min-width: 992px) {
    #intro p {
      padding: 0 25px; } }
  #intro .firma {
    display: block;
    margin: 30px auto;
    width: 80%;
    max-width: 180px; }

/*
 * SERVICIOS
*/
#servicios {
  background-color: #f8f8f8; }
  #servicios .lista-servicios {
    margin-bottom: 40px; }
    @media (min-width: 992px) {
      #servicios .lista-servicios {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 70px; } }
    #servicios .lista-servicios li {
      background-color: #fff;
      padding: 25px;
      margin: 20px auto; }
      @media (min-width: 992px) {
        #servicios .lista-servicios li {
          margin: 10px; } }
  #servicios .btn-wrapper-center {
    display: block;
    width: 100%;
    text-align: center; }
    #servicios .btn-wrapper-center button {
      cursor: pointer;
      position: relative;
      font-style: italic;
      font-weight: 600;
      font-size: 120%; }
      #servicios .btn-wrapper-center button:after {
        content: '';
        position: absolute;
        background-color: #2b292a;
        width: 100%;
        height: 1px;
        bottom: 0px;
        left: 0; }

.servicio-item > figure {
  width: 100%;
  background-color: #f4f4f4;
  height: 160px; }
  @media (min-width: 767px) {
    .servicio-item > figure {
      height: 340px; } }
.servicio-item h1 {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  top: -60px;
  height: 150px;
  width: 150px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .servicio-item h1:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
.servicio-item .h1-criollo:before {
  height: 114px;
  width: 79px;
  background: url("../images/criollo@2x.png") no-repeat;
  background-size: contain;
  background-position: center; }
.servicio-item .h1-gourmet:before {
  height: 101px;
  width: 92px;
  background: url("../images/gourmet@2x.png") no-repeat;
  background-size: contain;
  background-position: center; }
.servicio-item p {
  margin-top: -40px;
  text-align: center;
  font-size: 95%; }
  @media (min-width: 767px) {
    .servicio-item p {
      padding: 0 30px; } }
.servicio-item button {
  cursor: pointer;
  display: block;
  margin: 30px auto 20px;
  border: 1px solid #2b292a;
  padding: 7px 25px 5px;
  font-weight: 600; }

/*
 * POR QUE ELEGIRNOS
*/
@media (min-width: 992px) {
  #elegirnos .lista-por-que {
    columns: 2;
    column-gap: 50px; } }
#elegirnos .lista-por-que li {
  position: relative;
  text-align: center; }
  @media (min-width: 992px) {
    #elegirnos .lista-por-que li {
      text-align: left; } }
  #elegirnos .lista-por-que li span {
    display: inline-block;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    border-bottom: 1px solid #2b292a;
    font-size: 120%;
    width: 50px;
    margin: 20px auto 10px; }
    @media (min-width: 992px) {
      #elegirnos .lista-por-que li span {
        position: relative;
        border-bottom: none;
        text-align: left; }
        #elegirnos .lista-por-que li span:after {
          content: '';
          height: 1px;
          width: 60px;
          background-color: #2b292a;
          position: absolute;
          bottom: 7px;
          left: 25px; } }
#elegirnos figure {
  margin: 40px auto; }
  #elegirnos figure img {
    width: 100%; }
@media (min-width: 992px) {
  #elegirnos .lista-expertise {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center; } }
#elegirnos .lista-expertise li {
  margin: 7px auto;
  padding: 20px 45px;
  border: 1px solid #2b292a;
  text-align: center;
  max-width: 340px; }
  @media (min-width: 992px) {
    #elegirnos .lista-expertise li {
      margin: 7px 1%; } }
  #elegirnos .lista-expertise li .icon-expertise {
    background-color: transparent;
    display: block;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #2b292a;
    margin-bottom: 30px; }
  #elegirnos .lista-expertise li .icon-expertise-plato {
    background: url("../images/plato.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top; }
  #elegirnos .lista-expertise li .icon-expertise-copa {
    background: url("../images/copa.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: top; }
  #elegirnos .lista-expertise li .icon-expertise-tenedor {
    background: url("../images/tenedor.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center; }
  #elegirnos .lista-expertise li h3 {
    font-size: 150%;
    margin-bottom: 20px;
    font-weight: 600; }
    #elegirnos .lista-expertise li h3 em {
      font-style: italic; }
  #elegirnos .lista-expertise li p {
    font-size: 80%;
    line-height: 120%; }

/*
 * SALONES
*/
.salones-wrapper {
  background-color: #f4f4f4; }
  .salones-wrapper .loading-salones {
    display: block;
    text-align: center;
    font-style: italic;
    padding: 40px;
    font-size: 90%; }
    .salones-wrapper .loading-salones > span {
      animation: blinking 500ms infinite; }
  .salones-wrapper .wrapper-pagination {
    padding: 20px; }
    .salones-wrapper .wrapper-pagination .pagination {
      display: flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -webkit-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center; }
      .salones-wrapper .wrapper-pagination .pagination li {
        cursor: pointer;
        padding: 10px 5px;
        margin: 0 5px;
        font-style: italic; }
        .salones-wrapper .wrapper-pagination .pagination li:after {
          content: '.';
          padding-left: 10px;
          vertical-align: text-bottom; }
        .salones-wrapper .wrapper-pagination .pagination li:last-child:after {
          content: none; }
      .salones-wrapper .wrapper-pagination .pagination .active {
        font-weight: 700; }

/*
 * CLIENTES
*/
#clientes p {
  margin-top: -20px;
  margin-bottom: 50px; }

#experiencias {
  background-color: #f4f4f4; }
  #experiencias .loading-salones {
    display: block;
    text-align: center;
    font-style: italic;
    padding: 40px;
    font-size: 90%; }
    #experiencias .loading-salones > span {
      animation: blinking 500ms infinite; }

/*
 * CONTACTO
*/
#contacto {
  background-color: #f4f4f4; }

.formulario {
  display: block;
  width: 98%;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .formulario {
      display: flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -webkit-flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (min-width: 992px) {
    .formulario .form-inner {
      padding: 0 1%;
      width: 27%;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-grow: 1;
      -o-flex-grow: 1;
      flex-grow: 1; } }
  @media (min-width: 992px) {
    .formulario .form-inner-bigger {
      width: 45%; } }
  @media (min-width: 992px) {
    .formulario .form-inner-cols {
      margin-top: -5px;
      margin-bottom: -2px; }
      .formulario .form-inner-cols > input {
        width: 49%;
        display: inline-block; }
      .formulario .form-inner-cols .widht-60 {
        width: 59.7%; }
      .formulario .form-inner-cols .widht-40 {
        width: 39%; } }
  .formulario label {
    display: none; }
  .formulario input {
    display: block;
    width: 100%;
    margin: 5px auto;
    text-transform: uppercase;
    color: #2b292a;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2b292a;
    padding: 5px;
    font-family: "Flama Book", "Flama", sans-serif; }
    @media (min-width: 992px) {
      .formulario input {
        border: 1px solid #2b292a;
        height: 27px; } }
  .formulario textarea {
    background-color: transparent;
    padding: 5px;
    display: block;
    width: 100%;
    margin: 2px auto;
    color: #2b292a;
    height: 100px; }
    @media (min-width: 992px) {
      .formulario textarea {
        height: 27px;
        border: 1px solid #2b292a;
        text-transform: uppercase;
        line-height: 120%;
        font-size: 100%; } }
  .formulario input[type=submit] {
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    width: auto;
    background-color: #2b292a;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px; }
    @media (min-width: 992px) {
      .formulario input[type=submit] {
        height: auto;
        padding: 7px 20px 6px;
        line-height: 100%; } }
  .formulario ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: uppercase;
    color: #2b292a;
    font-family: "Flama Book", "Flama", sans-serif; }
    @media (min-width: 992px) {
      .formulario ::-webkit-input-placeholder {
        font-size: 80%; } }
  .formulario ::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase;
    color: #2b292a;
    font-family: "Flama Book", "Flama", sans-serif; }
    @media (min-width: 992px) {
      .formulario ::-moz-placeholder {
        font-size: 80%; } }
  .formulario :-ms-input-placeholder {
    /* IE 10+ */
    text-transform: uppercase;
    color: #2b292a;
    font-family: "Flama Book", "Flama", sans-serif; }
    @media (min-width: 992px) {
      .formulario :-ms-input-placeholder {
        font-size: 80%; } }
  .formulario :-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase;
    color: #2b292a;
    font-family: "Flama Book", "Flama", sans-serif; }
    @media (min-width: 992px) {
      .formulario :-moz-placeholder {
        font-size: 80%; } }
  .formulario .submit-wrapper {
    width: 100%;
    text-align: center;
    margin: 30px auto; }
  .formulario .msj-error {
    display: block;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-style: italic;
    font-weight: 600; }

/*--------------------------------------------------------------
10.0 TIPOGRAFIAS
--------------------------------------------------------------*/
.title-section {
  font-family: "Flama", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px; }
  @media (min-width: 567px) {
    .title-section {
      margin-bottom: 25px; } }

.subtitle-section {
  text-align: center;
  font-size: 180%;
  line-height: 130%;
  margin-bottom: 30px;
  font-weight: 600; }
  @media (min-width: 567px) {
    .subtitle-section {
      font-size: 200%;
      line-height: 150%;
      margin-bottom: 40px; } }
  .subtitle-section em {
    font-weight: 700;
    font-style: italic; }

.text-center {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
