.main-header {
    position: relative;
    z-index: 2;
    background-color: $color-gris-claro;
}

.nav-superior {
    position: relative;
    background-color: $color-blanco;
    width: 100%;
    height: 50px;
    @media (min-width: $md) {
        height: 100px;
    }

    .main-menu {
        @media (min-width: $md) {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            padding-top: 30px;
        }

        .brand-name {
            cursor: pointer;
            height: 50px;
            text-align: center;
            img {
                display: inline;
                width: 155px;
                margin-top: 5px;
                margin-right: 15px;
                @media (min-width: $md) {
                    display: block;
                    margin: 0 20px;
                    width: 253px;
                }
            }
        }
        
        .main-menu-item {
            font-family: $fuente-secundaria;
            cursor: pointer;
            display: block;
            text-transform: uppercase;
            position: absolute;
            width: 100%;
            background-color: $color-blanco;
            padding: 10px;
            padding-bottom: 60px;
            text-align: center;
            top: -100px;
            left: 0;
            @include transition(all $transitionSpeed ease-out);

            @media (min-width: $md) {
                background-color: transparent;
                text-align: left;
                width: auto;
                position: relative;
                left: 0;
                top: 0;
                padding: 20px 20px 10px;
                margin: 0 25px;
            }
        }
    }//.main-menu

    .menu-redes-sup {
        display: none;
        @media (min-width: $md) {
        position: absolute;
        top: 50px;
        right: 40px;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
    }
        li {
            margin: 0 3px;
            a {
                cursor: pointer;
                display: block;
                height: 20px;
                width: 20px;
                background: url('../images/sprite.png') no-repeat;
                background-size: 150px 60px;
            }

            .icon-facebook {
                background-position: -29px -41px;
            }
            .icon-twitter {
                background-position: 1px -41px;
            }
            .icon-instagram {
                background-position: -59px -41px;
            }
            
        }
    }
}//.nav-superior


/*
 * TOGGLE
*/
.toggle {
    position: absolute;
    top: 5px;
    right: 20px;
	cursor: pointer;
	display: block;
    border: none;
    height: 50px;
    width: 40px;
    z-index: 11;
    background-color: transparent;
    @include transition(all 1s);

    &:focus {
		border: none;
		outline: none;
    }

	@media (min-width: $md) {
		display: none;
    }
}

.tog1 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: $color-negro;
  position: absolute;
  left: 5px;
  top: 10px;
  @include transition(all 0.3s);
}

.tog2 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: $color-negro;
  position: absolute;
  left: 10px;
  top: 20px;
  @include transition(all 0.3s);
}

.tog3 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: $color-negro;
  position: absolute;
  left: 5px;
  top: 30px;
  @include transition(all 0.3s);
}

.toggle:hover .tog2 {
  left: 5px; 
}

.toggle-open .tog2 {
  	display: none; 
}
.toggle-open .tog1 {
	@include transform( rotate(45deg) );
	top: initial; 
}
.toggle-open .tog3 {
  	@include transform( rotate(-45deg) );
  	top: initial; 
}